* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.outer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding:20px;

}
.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
article {
display: flex;
    flex-direction: column;
    background-color: purple;
    padding: 30px;
}
.blog-item {
    border: 3px solid yellow;
    padding:20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

